### Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [91]:
import pandas as pd

In [92]:
import numpy as np

In [93]:
df = pd.read_csv('horse_data.csv', na_values = '?')
df.head()

,2,1,530101,38.50,66,28,3,3.1,?,2.1,...,45.00,8.40,?.4,?.5,2.2,2.3,11300,00000,00000.1,2.4
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [94]:
### переименуем необходимые для анализа столбцы
df.rename(columns = {'2':'surgery?', '1':'Age', '38.50':'rectal temperature', '66':'pulse', '28': 'respiratory rate', '3':'temperature of extremities', '5':'pain', '2.2':'outcome'}, inplace=True)

In [95]:
df_new = df[['surgery?','Age','rectal temperature','pulse','respiratory rate','temperature of extremities','pain', 'outcome']]
df_new.head(10)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
5,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
8,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
9,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0

### Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [96]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

In [97]:
### рассчитаем бзовые статистики
df_new.describe()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [98]:
### рассчитаем Медиану:
print('Значение Медианы показателя sergery?:', df_new['surgery?'].median())
print('Значение Медианы показателя Age:', df_new['Age'].median())
print('Значение Медианы показателя rectal temperature:', df_new['rectal temperature'].median())
print('Значение Медианы показателя pulse:', df_new['pulse'].median())
print('Значение Медианы показателя respiratory rate:', df_new['respiratory rate'].median())
print('Значение Медианы показателя temperature of extremities:', df_new['temperature of extremities'].median())
print('Значение Медианы показателя pain:', df_new['pain'].median())
print('Значение Медианы показателя outcome:', df_new['outcome'].median())

Значение Медианы показателя sergery?: 1.0
Значение Медианы показателя Age: 1.0
Значение Медианы показателя rectal temperature: 38.2
Значение Медианы показателя pulse: 64.0
Значение Медианы показателя respiratory rate: 24.0
Значение Медианы показателя temperature of extremities: 3.0
Значение Медианы показателя pain: 3.0
Значение Медианы показателя outcome: 1.0

In [99]:
### рассчитаем Моду:
print('Значение Моды показателя sergery?:',df_new['surgery?'].round().mode()[0])
print('Значение Моды показателя Age:',df_new['Age'].round().mode()[0])
print('Значение Моды показателя rectal temperature:',df_new['rectal temperature'].round().mode()[0])
print('Значение Моды показателя pulse:', df_new['pulse'].round().mode()[0])
print('Значение Моды показателя respiratory rate:',df_new['respiratory rate'].round().mode()[0])
print('Значение Моды показателя temperature of extremities:',df_new['temperature of extremities'].round().mode()[0])
print('Значение Моды показателя pain:',df_new['pain'].round().mode()[0])
print('Значение Моды показателя outcome:',df_new['outcome'].round().mode()[0])

Значение Моды показателя sergery?: 1.0
Значение Моды показателя Age: 1
Значение Моды показателя rectal temperature: 38.0
Значение Моды показателя pulse: 48.0
Значение Моды показателя respiratory rate: 20.0
Значение Моды показателя temperature of extremities: 3.0
Значение Моды показателя pain: 3.0
Значение Моды показателя outcome: 1.0

In [100]:
### рассчитаем Дисперсию:
print('Значение Дисперсии показателя sergery?:',df_new['surgery?'].var())
print('Значение Дисперсии показателя Age:',df_new['Age'].var())
print('Значение Дисперсии показателя rectal temperature:',df_new['rectal temperature'].var())
print('Значение Дисперсии показателя pulse:',df_new['pulse'].var())
print('Значение Дисперсии показателя respiratory rate:',df_new['respiratory rate'].var())
print('Значение Дисперсии показателя temperature of extremities:',df_new['temperature of extremities'].var())
print('Значение Дисперсии показателя pain:',df_new['pain'].var())
print('Значение Дисперсии показателя outcome:',df_new['outcome'].var())

Значение Дисперсии показателя sergery?: 0.23998372991661482
Значение Дисперсии показателя Age: 4.740634329195755
Значение Дисперсии показателя rectal temperature: 0.5380345276185787
Значение Дисперсии показателя pulse: 822.5723424021243
Значение Дисперсии показателя respiratory rate: 312.5207468879668
Значение Дисперсии показателя temperature of extremities: 1.09488827670646
Значение Дисперсии показателя pain: 1.7003980300883774
Значение Дисперсии показателя outcome: 0.5445958466092722

In [101]:
### рассчитаем Выбросы для показателя sergery?:
q1 = df_new['surgery?'].quantile(0.25)
q3 = df_new['surgery?'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

-0.5 3.5

In [102]:
### рассчитаем Выбросы для показателя Age:
q1 = df_new['Age'].quantile(0.25)
q3 = df_new['Age'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

1.0 1.0

In [103]:
### рассчитаем Выбросы для показателя rectal temperature:
q1 = df_new['rectal temperature'].quantile(0.25)
q3 = df_new['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = (q1 - (1.5 * iqr)).round() 
upper_bound = q3 + (1.5 * iqr).round() 
print(lower_bound, upper_bound)

37.0 39.5

In [104]:
### рассчитаем Выбросы для показателя pulse:
q1 = df_new['pulse'].quantile(0.25)
q3 = df_new['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)
remove_outliers = df_new[df_new['pulse'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers
pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)

-12.0 148.0

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
57,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
114,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
158,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
203,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [105]:
### рассчитаем Выбросы для показателя respiratory rate:
q1 = df_new['respiratory rate'].quantile(0.25)
q3 = df_new['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

-9.0 63.0

In [106]:
### рассчитаем Выбросы для показателя temperature of extremities:
q1 = df_new['temperature of extremities'].quantile(0.25)
q3 = df_new['temperature of extremities'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

-2.0 6.0

In [107]:

### рассчитаем Выбросы для показателя pain:
q1 = df_new['pain'].quantile(0.25)
q3 = df_new['pain'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

-1.0 7.0

In [108]:
### рассчитаем Выбросы для показателя outcome:
q1 = df_new['outcome'].quantile(0.25)
q3 = df_new['outcome'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
print(lower_bound, upper_bound)

-0.5 3.5

In [109]:

df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

#### Заполнение пропусков по каждому показателю отдельно на основании полученных статистических расчетов

In [82]:
### Расчет количества пропусков в %:
(df_new.isna().mean() * 100).round(2)

surgery?                       0.33
Age                            0.00
rectal temperature            20.07
pulse                          8.03
respiratory rate              19.40
temperature of extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

In [83]:
# 1. По показателю surgery? мы имеем 1 пропуск, это категория, которая отражает была ли сделана операция лошади или нет. 
# Так как есть только 2 варианта ответа, пропуск заполняем наиболее часто встречающимся (Модой).

# 2. По показателю rectal temperature 20% пропусков (60). Проанализировав средние показатели (ср. арифметическое, моду, медиану),
# max и min значение, а также отсутсвие выбросов, можно принять решение о замене пропусков средним арифметическим значением.

# 3.По показателю pulse 8% пропусков (24). Есть существенные выбросы в данных.
# Нормальный пульс у лошади в состоянии покоя составляет от 25 до 40 ударов в минуту. 
#Если пульс измеряли после тренировки лошади или в ожидании предстоящей тренировки у большинства лошадей пульс поднимается до 48-60 уд/мин.
#Если лошадь напугана или находится в состоянии шока симпатическая нервная система выделяет эпинефрин (адреналин),
#который пересиливает тонус блуждающего нерва и может быстро поднять частоту пульса лошади до 220-240 уд/мин. Возможно выбросы связаны именно с этим обстоятельством. 
# Согласно приведенным в таблице данным на пульс не влияет факт проведения операции на пульс не влияет факт проведения операции. 
# Заменим все пропуски Модой.

# 4. По показателю respiratory rate 19% пропусков (58).Все рассчитанные средние значения значительно превышают нормальную частоту дыхания,
#которая должны быть от 8-10. Это скорее вего связано с болезнью животных.
#Частота дыхания возрастает при стрессе, повышении температуры и респираторных заболеваниях.
# Так как есть выбросы в данных, заменим существующие пропуски медианой.

# 5. По показателю temperature of extremities 18.7% пропусков (56). Есть выбросы. Значения Моды и Медианы равны.
# Заменим пропуски Модой, так как это категориальый показатель.

# 6. По показателю pain 18.4% пропусков (55).Есть выбросы. Значения Моды и Медианы равны. 
# Заменим пропуски Модой, так как это категориальый показатель.

# 7.По показателю outcome мы имеем 1 пропуск, это категория. Есть выбросы. Значения Моды и Медианы равны. 
# Заменим пропуски Модой,так как это категориальый показатель.

In [86]:
df_new['surgery?'].fillna(df_new['surgery?'].round().mode()[0], inplace=True)
df_new['surgery?'].fillna(df_new['surgery?'].round().mode()[0]).isna().sum()
df_new['rectal temperature'].fillna(df_new['rectal temperature'].mean, inplace=True)
df_new['pulse'].fillna(df_new['pulse'].round().mode()[0], inplace=True)
df_new['respiratory rate'].fillna(df_new['respiratory rate'].median, inplace=True)
df_new['temperature of extremities'].fillna(df_new['temperature of extremities'].mode()[0], inplace=True)
df_new['pain'].fillna(df_new['pain'].round().mode()[0], inplace=True)
df_new['outcome'].fillna(df_new['outcome'].round().mode()[0], inplace=True)

In [85]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          299 non-null    object
 3   pulse                       299 non-null    float64
 4   respiratory rate            299 non-null    object
 5   temperature of extremities  299 non-null    float64
 6   pain                        299 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 18.8+ KB